CompileFlags:
  CompilationDatabase: build/debug
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
  Remove:
    - -Werror
    - -W*

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - readability-*
      - performance-*
      - cppcoreguidelines-*
      - concurrency-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
      - cppcoreguidelines-avoid-magic-numbers
      - readability-convert-member-functions-to-static
      - readability-redundant-member-init
      - bugprone-easily-swappable-parameters
      - performance-enum-size
      - cppcoreguidelines-avoid-non-const-global-variables
      - readability-identifier-naming
      - readability-identifier-length
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
